# Gradle
.gradle/
**/build/
.kotlin/

# Configuración local
local.properties
keystore.properties
secrets.properties

# Registros y archivos temporales
*.log
*.tmp
*.temp
*.bak
*.swp
*.orig

# Archivos generados por Android Studio
captures/
.externalNativeBuild/
.cxx/
out/
app/release/
output-metadata.json

# Paquetes generados
*.aab
*.apk

# IntelliJ IDEA / Android Studio
.idea/
*.iml

# Archivos de firma
*.jks
*.keystore

# Servicios y credenciales
google-services.json

# Android Profiling
*.hprof

# Sistemas operativos
.DS_Store
Thumbs.db
desktop.ini

# Editores adicionales
.vscode/
.fleet/